<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Best Design - Chuyên thiết kế thi công nội thất đẹp, giá rẻ</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
  <meta name="theme-color" content="#0099ff" />
  <meta http-equiv="Content-Language" content="VN" />
  <meta name="description" content="Best Design - Chuyên thiết kế thi công nội thất đẹp, giá rẻ" />
  <meta name="keywords" content="" />
  <meta property="og:url" name="og:url" content="" data-app />
  <meta property="og:type" name="og:type" content="website" data-app />
  <meta property="og:description" name="og:description" content="Best Design - Chuyên thiết kế thi công nội thất đẹp, giá rẻ" data-app />
  <meta property="og:title" name="og:title" content="Best Design - Chuyên thiết kế thi công nội thất đẹp, giá rẻ" data-app />
  <meta property="og:image" name="og:image" content="http://tonvietphap.24h.co/uploaded/logo/logo.png" data-app />

  <link href="/favicon.png" rel="shortcut icon" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />

  <link rel="stylesheet" type="text/css" href="/css/grid.css" />
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
  <link rel="stylesheet" type="text/css" href="/css/swiper.css" />

  <link rel="stylesheet" type="text/css" href="/css/font.css" />
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
  <link rel="stylesheet" href="/css/jquery-ui.css" />
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet"> -->
  <script src="/js/jquery-1.10.1.min.js"></script>
  <script src="/js/swiper.min.js"></script>

  <script src="/js/script.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.min.js"></script> -->
  <!-- <script>
    AOS.init();
  </script> -->
</head>

<body>



<div id="page">


    <!-- header pc -->
    <header class="header hide-on-pad hide-on-tab">
      <div class="grid">
        
        <div class="flex-container align-center">
            <div class="cell-1-5">
              <div class="logo">
                <a href="/">
                  <img src="/uploaded/logo/logo.png" alt="LogoSite"
                    style="max-width:100%; margin:0 auto"></a>
                </div>
            </div>
           <div class="cell-4-5">
            <div class="menubar">
              <ul class="nav  hide-on-mobile">
              <li class=" active "> <a href="/" class=""><span style="background-image:url()">Trang chủ </span></a>

              </li>

              <li class=" "> <a href="/" class=""><span style="background-image:url()">Thiết kế nội thất </span></a>
                  <ul class="submnu1" style="display: none;">
                    <li class=""><a href="/phat-trien-dien-nang/">Thiết kế nội thất chung cư</a>
                    </li>
                    <li class=""><a href="/dau-tu-bat-dong-san/">Thiết kế nội thất nhà phố</a>
                    </li>
                    <li class=""><a href="/dich-vu-khach-san/">Thiết kế nội thất biệt thự</a>
                    </li>
                    <li class=""><a href="/phat-trien-dien-nang/">Thiết kế nội thất văn phòng</a>
                    </li>
                    <li class=""><a href="/dau-tu-bat-dong-san/">Thiết kế nội thất showroom</a>
                    </li>
                    <li class=""><a href="/dich-vu-khach-san/">Thiết kế nội thất spa</a>
                    </li>
                    <li class=""><a href="/phat-trien-dien-nang/">Thiết kế nội thất shop quần áo</a>
                    </li>
                    <li class=""><a href="/dau-tu-bat-dong-san/">Thiết kế nội thất phòng khách</a>
                    </li>
                    <li class=""><a href="/dich-vu-khach-san/">Thiết kế nội thất phòng ngủ</a>
                    </li>
                    <li class=""><a href="/dich-vu-khach-san/">Thiết kế nội thất phòng bếp</a>
                    </li> 
                     <li class=""><a href="/dich-vu-khach-san/">Thiết kế nội thất phòng thờ</a>
                    </li>
                    <li class=""><a href="/dich-vu-khach-san/">Thiết kế nội thất phòng tắm</a>
                    </li>
                </ul>
              </li>
              
              <li class=" "> <a href="/linh-vuc-hoat-dong/" class=""><span style="background-image:url()">Thi công nội thất </span></a>
              
              
              
              
                  <ul class="submnu1" style="display: none;">
                      <li class=""><a href="/phat-trien-dien-nang/">Thi công nội thất chung cư</a>
                      </li>
                      <li class=""><a href="/dau-tu-bat-dong-san/">Thi công nội thất nhà phố </a>
                      </li>
                      <li class=""><a href="/dich-vu-khach-san/">Thi công nội thất biệt thự</a>
                      </li>
                      <li class=""><a href="/dich-vu-khach-san/">Thi công nội thất văn phòng</a>
                      </li>
                  </ul>
                  
                  
                  
              </li>
              <li class=""> <a href="/cong-ty-thanh-vien/" class=""><span style="background-image:url()">Mẫu nhà đẹp</span></a>       
                  
                <ul class="submnu1" style="display: none;">
                  <li class=""><a href="/phat-trien-dien-nang/">Nhà cấp 4</a>
                  </li>
                  <li class=""><a href="/dau-tu-bat-dong-san/">Nhà ống</a>
                  </li>
                  <li class=""><a href="/dich-vu-khach-san/">Biệt thự</a>
                  </li>
                  <li class=""><a href="/dich-vu-khach-san/">Nhà vườn</a>
                  </li>
              </ul>
              </li>
              <li class=" "> <a href="/tin-tuc-su-kien/" class=""><span style="background-image:url()">Sản phẩm nội thất </span></a>
              
              
              </li>
            
              <li class=" "> 
                <a href="/lien-he/" class=""><span style="background-image:url()">Dự án</span></a> 
              </li>
              <li class=" "> 
                <a href="/lien-he/" class=""><span style="background-image:url()">Tin tức</span></a> 
              </li>
              <li class=" ">  
                <a href="/lien-he/" class=""><span style="background-image:url()">Liên hệ</span></a> 
              </li>
              <li class=" "> 
                <a href="/lien-he/" class=""><span style="background-image:url()">Liên hệ</span></a> 
              </li>
              <li class=" "> 
                <a href="/lien-he/" class=""><span style="background-image:url()">Liên hệ</span></a> 
              </li>
              </ul>
              <div class="icon-search" >
                <i class="fa fa-search search-icon" aria-hidden="true"></i> 
                 <div class="search-pc" style="">
                     <form action="/search/" method="get" id="searchformtab">
                         <input name="qr" id="qr_search" class="kw-mobile" placeholder="Tìm kiếm" type="text">
                             <!-- <a href="#" class="submit-search-pc" onClick=""> 
                                 <i class="fa fa-search" aria-hidden="true"></i> </a> -->

                             <a href="#" class="closeX" onClick="$('.search-pc').hide(); return false;">&#10005;</a>        
                     </form>
                 </div>
                 <script type="text/javascript">

                  $(".submit-search-pc").click(function(){
                    if ($("#qr_search").val() != "")
                      $('#searchformtab').submit(); return false;
                  
                  });

                  $(document).ready(function () {
                      $(".search-icon").click(function () {
                          $(".search-pc").stop().slideToggle("fast");
                          return false;
                      });
                  });
              </script>  	
            <div class="c"></div>
          </div>
           </div>


           

          </div>
        </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <header class="header hide-on-pc error">
      <div class="mobile-bar hide-on-pc">
        <div class="grid">
            <div class="flex-container align-center">
                <div class="cell-1-3">
                   
                    <a class="menu-mobile" href="#menu">
                      <i class="fas fa-bars"></i>
                   </a>
                   
                </div>
                <div class="cell-1-3">
                 
                  <div class="logo">
                      <a href="/">
                        <img src="/uploaded/logo/Logo_full 1.png" alt="Logo web" style="max-width: 100%; margin: 0 auto" />
                      </a>
                  </div>
                 
              </div>
            
                <div class="icon-search search-mb" >
                  <i class="fa fa-search search-iconmb" aria-hidden="true"></i>
                    <div class="frm-search-mb" style="">
                     <form action="/search/" method="get" id="searchformtab">
                        <input name="qr" class="kw-mobile" placeholder="Tìm kiếm " type="text">
                        <a href="#" class="submit-search-pc" onClick="$('#searchformtab').submit(); return false;"> 
                          <i class="fa fa-search" aria-hidden="true"></i> </a>
  
                        <a href="#" class="closeX" onClick="$('.frm-search-mb').hide(); return false;">&#10005;</a>        
                      </form>
                    </div> 
                    
                    <script type="text/javascript">
                      $(document).ready(function () {
                      $(".search-iconmb").click(function () {
                        $(".frm-search-mb").stop().slideToggle("fast");
                        return false;
                      });
                      });
                    </script>  	
                   </div>
               
            </div>
            </div>
        </div>
        <div class="c"></div>
    </div>

    </header>
    <!-- content -->
    <div class="content">
          <!-- slideshow -->
          <div class="swiper-container" id="slide_home">
            <!-- <div class="swiper-pagination"></div> -->
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="slidehome">
                  <img class="hide-on-mobile" src="/uploaded/slideshow/item1.jpg" alt="" style="width: 100%" />
                    
                  <div class="slidehome-content wobble-top" >
                    <div class="grid">
                        <div class="flex-container">
                          <div class="cell-1-2 tab-cell-1-1">

                          </div>
                            <div class="cell-1-2 tab-cell-1-1">
                            <h2>
                              THIẾT KẾ NỘI THẤT <br> TRƯỜNG HỌC 
                            </h2> 
                            <div class="c20"></div> 
                             <p class="slidehome-content-intro">Cam kết của chúng tôi về chất lượng và dịch vụ đảm bảo khách hàng hài lòng. Chúng tôi rất vui khi làm cho bạn cảm thấy thoải mái hơn trong ngôi nhà của mình.</p>
                               <div class="c20 hide-on-mobile"></div>
                                <div class="c20"></div>
                                    <a href="#" class="btn-muangay">
                                    Click xem chi tiết
                                    </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="swiper-slide">
              <div class="slidehome">
                <img class="hide-on-mobile" src="/uploaded/slideshow/item1.jpg" alt="" style="width: 100%" />
                  
                <div class="slidehome-content">
                  <div class="grid">
                      <div class="flex-container">
                        <div class="cell-1-2 tab-cell-1-1">

                        </div>
                          <div class="cell-1-2 tab-cell-1-1">
                          <h2>
                            THIẾT KẾ NỘI THẤT <br> TRƯỜNG HỌC 
                          </h2> 
                          <div class="c20"></div> 
                           <p class="slidehome-content-intro">Cam kết của chúng tôi về chất lượng và dịch vụ đảm bảo khách hàng hài lòng. Chúng tôi rất vui khi làm cho bạn cảm thấy thoải mái hơn trong ngôi nhà của mình.</p>
                             <div class="c20 hide-on-mobile"></div>
                              <div class="c20"></div>
                                  <a href="#" class="btn-muangay">
                                  Click xem chi tiết
                                  </a>
                              
                          </div>
                      </div>
                  </div>
              </div>
              </div>
            </div>
            <!-- <div class="swiper-pagination"></div> -->
            <script>
              $(function () {
                var swiper_slide_home = new Swiper("#slide_home", {
                  loop: true,
                  slidesPerView: 1,
                  autoplay: {
                    simulateTouch: true,
                    delay: 5000000,
                    disableOnInteraction: false,
                  },
                  spaceBetween: 0,
                  // navigation: {
                  //   nextEl: ".swiper-button-next",
                  //   prevEl: ".swiper-button-prev",
                  // },
                  pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                  },
                  speed: 500,
                  spaceBetween: 0,
                });
    
                $("#slide_home").on("mouseover", function () {
                  swiper_slide_home.autoplay.stop();
                });
                $("#slide_home").on("mouseout", function () {
                  swiper_slide_home.autoplay.start();
                });
              });
            </script>
          </div>
          <!-- end slideshow -->
       
        <!-- san pham noi bat -->
            <div class="homeproduct-wrapper">
              <div class="c20 hide-on-mobile"></div>
              <div class="c30"></div>
                <div class="grid">
                  <div class="homecat-title--sm">
                    Blue Space
                  </div>
                
                  <h2 class="homecat-title--spc">
                    <a href="#">Biến Các Ý Tưởng Thành Hiện thực
                    </a>
                  </h2>
                  
                  <div class="homecat-title--intro">
                    Cam kết của chúng tôi về chất lượng và dịch vụ đảm bảo khách hàng hài lòng. Chúng tôi rất vui khi làm cho bạn cảm thấy thoải mái hơn trong ngôi nhà của mình.
                  </div>
                <div class="c30"></div>
               
    
                
                <div class="flex-container">
                  <div class="cell-1-4 tab-cell-1-2 item-homeproduct">
                        <div class="homeproduct-img">
                            <a href="#" class="img-shine">
                              <img src="/uploaded/san-pham/item1.jpg" alt="">
                            </a>
                        </div>
                      
                      <div class="homeproduct-content">
                          <h2 class="homeproduct-name text-line-2">
                             <a href="#">NỘI THẤT BIỆT THỰ​ </a>
                          </h2>
                            <div class="c10"></div>
              
                      </div>
                  </div>
                  <div class="cell-1-4 tab-cell-1-2 item-homeproduct">
                    <div class="homeproduct-img">
                        <a href="#" class="img-shine">
                          <img src="/uploaded/san-pham/item2.jpg" alt="">
                        </a>
                    </div>
                 
                  <div class="homeproduct-content">
                      <h2 class="homeproduct-name text-line-2"> 
                        <a href="#">NỘI THẤT CHUNG CƯ
                        </a>
                      </h2>
                        <div class="c10"></div>
                       
                  </div>
                  </div>
                  <div class="cell-1-4 tab-cell-1-2 item-homeproduct">
                    <div class="homeproduct-img">
                        <a href="#" class="img-shine">
                          <img src="/uploaded/san-pham/item3.jpg" alt="">
                        </a>
                    </div>
                 
                  <div class="homeproduct-content">
                      <h2 class="homeproduct-name text-line-2"> 
                        <a href="#">NỘI THẤT NHÀ PHỐ
                      </a>
                      </h2>
                      
                       <div class="c10"></div>
                      
                  </div>
                  </div>
                  <div class="cell-1-4 tab-cell-1-2 item-homeproduct">
                    <div class="homeproduct-img">
                        <a href="#" class="img-shine">
                          <img src="/uploaded/san-pham/item4.jpg" alt="">
                        </a>
                    </div>
                 
                  <div class="homeproduct-content">
                      <h2 class="homeproduct-name text-line-2">
                         <a href="#">NỘI THẤT VĂN PHÒNG</a>
                      </h2>
                        
                      <div class="c10"></div>
                      
                  </div>
                  </div>
                  <div class="cell-1-4 tab-cell-1-2 item-homeproduct">
                    <div class="homeproduct-img">
                        <a href="#" class="img-shine">
                          <img src="/uploaded/san-pham/item5.jpg" alt="">
                        </a>
                    </div>
                 
                  <div class="homeproduct-content">
                      <h2 class="homeproduct-name text-line-2">
                         <a href="#">
                          NHÀ HÀNG, COFFEE 
                        </a>
                      </h2>
                       
                       <div class="c10"></div>
                      
                  </div>
              </div>
              <div class="cell-1-4 tab-cell-1-2 item-homeproduct">
                <div class="homeproduct-img">
                    <a href="#" class="img-shine">
                      <img src="/uploaded/san-pham/item6.jpg" alt="">
                    </a>
                </div>
              
              <div class="homeproduct-content">
                  <h2 class="homeproduct-name text-line-2">
                     <a href="#">NỘI THẤT SPA, THỜI TRANG</a>
                  </h2>
                    <div class="c10"></div>
                  
                  
              </div>
              </div>
              <div class="cell-1-4 tab-cell-1-2 item-homeproduct">
                <div class="homeproduct-img">
                    <a href="#" class="img-shine">
                      <img src="/uploaded/san-pham/item7.jpg" alt="">
                    </a>
                </div>
             
              <div class="homeproduct-content">
                  <h2 class="homeproduct-name text-line-2">
                    <a href="#">TRUNG TÂM DẠY TRẺ </a>
                  </h2>
                    <div class="c10"></div>
                 
              </div>
              </div>
              <div class="cell-1-4 tab-cell-1-2 item-homeproduct">
                <div class="homeproduct-img">
                    <a href="#" class="img-shine">
                      <img src="/uploaded/san-pham/item8.jpg" alt="">
                    </a>
                </div>
              <div class="homeproduct-bg-name">
                
              </div>
              <div class="homeproduct-content">
                  <h2 class="homeproduct-name text-line-2">
                     <a href="#">NỘI THẤT CLUB, BAR</a>
                  </h2>
                <div class="c10"></div>
                  
                
              </div>
              </div>
              </div>
            </div>
            
            </div>
              <!-- home dich vu -->

            <div class="homeservice-wrapper">
                 
                <div class="grid">
                  <div class="flex-container">
                      <div class="cell-1-2 tab-cell-1-2">
                        <div class="c30"></div>
                        <div class="c20 hide-on-mobile"></div>
                          <img src="/uploaded/dichvu/item1.jpg" alt="">
                      </div>
                      <div class="cell-1-2 tab-cell-1-2">
                        <div class="c30"></div>
                        <div class="c20 hide-on-mobile"></div>
                        <div class="item-service">
                          <div class="homecat-title--sm" style="text-align:left; color:#000 ;">
                            Thi công nội thất biệt thự
                          </div>
                          <h2 class="homeservice-name" style="text-align:left;">
                            "SANG TRỌNG & ĐẲNG CẤP"
                          </h2>
                          <div class="c20 hide-on-mobile"></div>
                          <div class="desc text-line-4">
                            Căn nhà khang trang mới tông màu trắng chủ đạo. Nơi các thành viên có thể xuống bếp cùng mọi người làm bữa cơm, gia đình quây quần bên bàn ăn. Hay tận hưởng những giây phút cả gia đình cùng ngồi xuống trò chuyện về một ngày vừa qua. Tựa mình trên chiếc sofa êm ái, cùng xem một bộ phim hay chương trình tivi mà tất cả đều yêu thích.
                          </div>
                          <div class="c30"></div>
                          <div class="homecat-name">
                              Biệt thự
                          </div>
                        <div class="c20"></div>
                        <div class="c10"></div>
                          <a class="btn btn-ordnow">
                          Xem thêm công trình biệt thự
                          </a>
                          
                          
                      </div>
                      </div>
                      
                    <div class="cell-1-2 tab-cell-1-2">
                      <div class="c30"></div>
                      <div class="c20 hide-on-mobile"></div>
                      <div class="item-service">
                        <div class="homecat-title--sm" style="text-align:left; color:#000 ;">
                          Thi công nội thất nhà phố
                        </div>
                        <h2 class="homeservice-name" style="text-align:left;">
                          "TINH TẾ & TỐI GIẢN"
                        </h2>
                        <div class="c20 hide-on-mobile"></div>
                        <div class="desc text-line-4">
                          Căn nhà khang trang mới tông màu trắng chủ đạo. Nơi các thành viên có thể xuống bếp cùng mọi người làm bữa cơm, gia đình quây quần bên bàn ăn. Hay tận hưởng những giây phút cả gia đình cùng ngồi xuống trò chuyện về một ngày vừa qua. Tựa mình trên chiếc sofa êm ái, cùng xem một bộ phim hay chương trình tivi mà tất cả đều yêu thích.
                        </div>
                        <div class="c30"></div>
                        <div class="homecat-name">
                          nhà phố
                        </div>
                      <div class="c20"></div>
                      <div class="c10"></div>
                        <a class="btn btn-ordnow">
                        Xem thêm công trình nhà phố
                        </a>
                        
                        
                    </div>
                    </div>
                    <div class="cell-1-2 tab-cell-1-2">
                      <div class="c30"></div>
                      <div class="c20 hide-on-mobile"></div>
                      <img src="/uploaded/dichvu/item3.jpg" alt="">
                    </div>
                    <div class="cell-1-2 tab-cell-1-2">
                      <div class="c30"></div>
                      <div class="c20 hide-on-mobile"></div>
                        <img src="/uploaded/dichvu/item1.jpg" alt="">
                    </div>
                    <div class="cell-1-2 tab-cell-1-2">
                      <div class="c30"></div>
                      <div class="c20 hide-on-mobile"></div>
                      <div class="item-service">
                        <div class="homecat-title--sm" style="text-align:left; color:#000 ;">
                          Thi công nội thất chung cư
                        </div>
                        <h2 class="homeservice-name" style="text-align:left;">
                          "SANG TRỌNG & ĐẲNG CẤP"
                        </h2>
                        <div class="c20 hide-on-mobile"></div>
                        <div class="desc text-line-4">
                          Căn nhà khang trang mới tông màu trắng chủ đạo. Nơi các thành viên có thể xuống bếp cùng mọi người làm bữa cơm, gia đình quây quần bên bàn ăn. Hay tận hưởng những giây phút cả gia đình cùng ngồi xuống trò chuyện về một ngày vừa qua. Tựa mình trên chiếc sofa êm ái, cùng xem một bộ phim hay chương trình tivi mà tất cả đều yêu thích.
                        </div>
                        <div class="c30"></div>
                        <div class="homecat-name">
                            chung cư
                        </div>
                      <div class="c20"></div>
                      <div class="c10"></div>
                        <a class="btn btn-ordnow">
                        Xem thêm công trình biệt thự
                        </a>
                        
                        
                    </div>
                    </div>
                    
                  </div>
                </div>
                 
              <div class="c20 hide-on-mobile"></div>
              <div class="c30"></div>
            </div>
          <div class="homecoso-wrapper">  
            <div class="c20 hide-on-mobile"></div>
            <div class="c30"></div>
           
            
              <div class="grid">
                  <div class="flex-container">
                    <div class="cell-1-2 tab-cell-1-2">   
                      <div class="homecat">
                        <div class="homecat-name-ab">
                          Cơ sở
                         </div>   
                         <div class="homecat-title--sm" style="text-align:left;">
                           Blue space
 
                         </div>
                        <div class="c10"></div>
                         <h2 class="homecat-title--name" style="text-align:left;">
                           Xưởng sản xuất
                         </h2>
                      </div>
                      <div class="homecoso-item">
                       
                        <div class="c20 hide-on-mobile"></div>
                        <p>Nội thất BLUESPACE tiền thân là một xưởng sản xuất nội thất quy mô nhỏ hoạt động từ năm 2002.</p>
                        <br>
                        <p>Năm 2004 sau 2 năm hoạt động và phát triển, quy mô sản xuất không ngừng mở rộng, xưởng sản xuất được chuyển về Vòng xoay Phú Hữu, Quận 9, TP. Thủ Đức, TP. Hồ Chí Minh., quy mô lên đến 1000m2 với 15 thợ thủ công chuyên nghiệp.</p>
                        <br>
                        <p> Năm 2017, trên đà thành công, ban lãnh đạo quyết định xây dựng mở rộng nhà máy với diện tích 3000m2, đồng thời đổi mới hệ thống dây chuyền kỹ thuật, máy móc sản xuất hiện đại. Số lượng nhân công cũng không ngừng tăng lên, hiện tại chúng tôi đang sở hữu đội ngũ trên 50 công nhân dày dặn kinh nghiệm.</p>
                       
                        <div class="c30"></div>
                         
                    </div>
                  </div>
                  <div class="cell-1-2 tab-cell-1-2">
                          
                     <div class="homecoso-item--img">
                      <img src="/uploaded/gioi-thieu/item1.jpg" alt="">
                      <a class="btn btn-xemthem" href="#">
                          Xem chi tiết
                      </a>
                     </div>
                  </div>
              </div>
              </div>
              <div class="c20 hide-on-mobile"></div>
            <div class="c30"></div>
          </div>
         <div class="homegalleries-wrapper">
            <div class="grid">
                <div class="galleries">
                  <div class="item-galleries">
                    <img src="/uploaded/galleries/item1.jpg">
                  </div>
                  <div class="item-galleries">
                    <img src="/uploaded/background/bg-galleries.png">
                  </div>
                  <div class="item-galleries">
                    <img src="/uploaded/galleries/item2.jpg">
                  </div>
                  <div class="item-galleries">
                    <img src="/uploaded/galleries/item5.jpg">
                  </div>
                  <div class="item-galleries">
                    <img src="/uploaded/galleries/item3.jpg">
                  </div>
                  <div class="item-galleries">
                    <img src="/uploaded/galleries/item4.jpg">
                  </div>
                 
                  <div class="item-galleries">
                    <img src="/uploaded/galleries/item6.jpg">
                  </div>
                  <div class="item-galleries">
                    <img src="/uploaded/galleries/item7.jpg">
                  </div>
               
                </div>
            </div>
            
            <div class="c20 hide-on-mobile"></div>
            <div class="c30"></div>
         </div>

          <div class="homeproject-wrapper">
           <div class="grid">
            <div class="homecat">
              <div class="homecat-name-ab" style=" -webkit-text-stroke-color:#fab702; margin-left: 30px;">
                Dự án
               </div>   
               
              <div class="c10"></div>
               <h2 class="homecat-title--name" style="text-align:left;">
                 Dự án hoàn thành
               </h2>
            </div>
            <div class="c30"></div>
            <div class="c20 hide-on-mobile"></div>
            <div class="flex-container">
              <div class="cell-1-3 tab-cell-1-1">
                  <div class="homeproject-item">
                      <a href="#"><img src="/uploaded/du-an/item1.jpg" alt=""></a>
                    <div class="homeproject-item--name">
                      T2 -10 PALM HIEGHT <br>
                      DIỆN TÍCH: 95M2 2 NGỦ
                    </div>
                  </div>
                  
              </div>
              <div class="cell-1-3 tab-cell-1-1">
                <div class="homeproject-item">
                    <a href="#"><img src="/uploaded/du-an/item2.jpg" alt=""></a>
                  <div class="homeproject-item--name">
                    T2 -10 PALM HIEGHT <br>
                    DIỆN TÍCH: 95M2 2 NGỦ
                  </div>
                </div>
                
            </div>
            <div class="cell-1-3 tab-cell-1-1">
              <div class="homeproject-item">
                  <a href="#"><img src="/uploaded/du-an/item3.jpg" alt=""></a>
                <div class="homeproject-item--name">
                  T2 -10 PALM HIEGHT <br>
                  DIỆN TÍCH: 95M2 2 NGỦ
                </div>
              </div>
            </div>
            </div>
           </div>
           <div class="c30"></div>
           <div class="c20 hide-on-mobile"></div>
           <div class="c30"></div>
           
          </div>
          
          <div class="homewhyus-wrapper">
              <div class="c30"></div>
              <div class="c20 hide-on-mobile"></div>
                <div class="grid"> 
                     <div class="homecat-title--sm">
                       Blue space

                     </div>
                    <div class="c10"></div>
                     <h2 class="homecat-title--spc" style="color:#FFF;">
                        <a href="#">  ĐIỂM KHÁC BIỆT CỦA CHÚNG TÔI </a>
                     </h2>
                     <div class="c20"></div>
                     <div class="homecat-intro" style="color:#FFF; text-align:center">
                      Cam kết của chúng tôi về chất lượng và dịch vụ đảm bảo khách hàng hài lòng. Chúng tôi rất vui khi làm cho bạn cảm thấy thoải mái hơn trong ngôi nhà của mình.
                     </div>
                     <div class="c20"></div>
                     <div class="c30 hide-on-mobile"></div>
                     <div class="flex-container">
                        <div class="cell-1-3 tab-cell-1-1">
                            <div class="whyus-item">
                                  <div class="whyus-item--ico">
                                    <i class="fas fa-paint-roller"></i>
                                  </div>
                                <div class="whyus-item--content">
                                    <div class="whyus-item--name">
                                      CHUYÊN MÔN NỘI THẤT
                                    </div>
                                    <div class="c10"></div>
                                    <div class="text-line-5">
                                      Blue Space là đơn vị chuyên cung cấp dịch vụ thiết kế nội thất chuyên nghiệp với dịch vụ tận tâm và tập thể kiến trúc sư giàu kinh nghiệm.
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="cell-1-3 tab-cell-1-1">
                          <div class="whyus-item">
                                <div class="whyus-item--ico">
                                  <i class="fas fa-trophy"></i>
                                </div>
                              <div class="whyus-item--content">
                                  <div class="whyus-item--name">
                                    GIẢI THƯỞNG ĐẠT ĐƯỢC
                                  </div>
                                  <div class="c10"></div>
                                  <div class="text-line-5">
                                    Blue Space là đơn vị chuyên cung cấp dịch vụ thiết kế nội thất chuyên nghiệp với dịch vụ tận tâm và tập thể kiến trúc sư giàu kinh nghiệm.
                                  </div>
                              </div>
                          </div>
                         
                      </div>
                      <div class="cell-1-3 tab-cell-1-1">
                        <div class="whyus-item">
                              <div class="whyus-item--ico">
                                <i class="fab fa-rocketchat"></i>
                              </div>
                            <div class="whyus-item--content">
                                <div class="whyus-item--name">
                                  TƯ VẤN MIỄN PHÍ
                                </div>
                                <div class="c10"></div>
                                <div class="text-line-5">
                                  Blue Space cung cấp dịch vụ tư vấn tận tâm về phong cách thiết kế, vật liệu sử dụng và cách bố trí công năng để tối ưu không gian sử dụng.
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="cell-1-3 tab-cell-1-1">
                      <div class="whyus-item">
                            <div class="whyus-item--ico">
                              <i class="fas fa-wallet"></i>
                            </div>
                          <div class="whyus-item--content">
                              <div class="whyus-item--name">
                                GIÁ CẢ HỢP LÝ
                              </div>
                              <div class="c10"></div>
                              <div class="text-line-5">
                                Blue Space cam kết cung cấp dịch vụ thiết kế nội thất với giá cả hợp lý, báo giá công khai, chi tiết theo nhu cầu của quý khách hàng.
                              </div>
                          </div>
                      </div>
                     
                  </div>
                  <div class="cell-1-3 tab-cell-1-1">
                    <div class="whyus-item">
                          <div class="whyus-item--ico">
                            <i class="fas fa-recycle"></i>
                          </div>
                        <div class="whyus-item--content">
                            <div class="whyus-item--name">
                              CÔNG TRÌNH ĐƯỢC ĐẢM BẢO
                            </div>
                            <div class="c10"></div>
                            <div class="text-line-5">
                              Các công trình nội thất được thiết kế và thi công bởi BlueSpace đều đảm bảo về chất lượng. Chúng tôi sẽ tư vấn và thiết kế sao cho phù hợp với nhu cầu của khách hàng nhất.
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="cell-1-3 tab-cell-1-1">
                  <div class="whyus-item">
                        <div class="whyus-item--ico">
                          <i class="fas fa-recycle"></i>
                        </div>
                      <div class="whyus-item--content">
                          <div class="whyus-item--name">
                          Hỗ trợ 24/7
                          </div>
                          <div class="c10"></div>
                          <div class="text-line-5">
                            Blue Space là đơn vị chuyên cung cấp dịch vụ thiết kế nội thất chuyên nghiệp với dịch vụ tận tâm và tập thể kiến trúc sư giàu kinh nghiệm.
                          </div>
                      </div>
                  </div>
                 
              </div>
                     </div>
                </div>
              <div class="c30"></div>
              <div class="c20 hide-on-mobile"></div>
          </div>
          <div class="homebook-wrapper">
            <div class="c30"></div>
            <div class="c20 hide-on-mobile"></div>
            <div class="grid" style="position:relative; z-index:2;">
                <div class="flex-container align-center">
                    <div class="cell-1-2 tab-cell-1-1">
                        <img src="/uploaded/background/dangky.png" alt="">
                    </div>
                    <div class="cell-1-2 tab-cell-1-1">
                        <div class="homebook-content">
                          <div class="homebook-content--title">
                            BẠN ĐANG XÂY, SỬA NGÔI NHÀ CỦA MÌNH
                            </div>
                      
                            Để BlueSpace giúp bạn hoàn thiện 1 mái ấm trọn vẹn nhé!
                          
                          <br>
                          Showroom: 169N – KDC Mega Village Khang Điền, P. Phú Hữu, Quận 9, TP. Thủ Đức, TP. Hồ Chí Minh.
                          <br>
                          Hotline: 0862 666 288 – 0818 112 818
                          <br>
                          Email: bluespace.designvn@gmail.com
                          <br>
                          (Chúng tôi hỗ trợ khách hàng 24 /7. Tất cả các ngày trong tuần kể cả ngày lễ)    
                    </div>
                    <div class="c20"></div>
                    <div class="homebook">
                      <form  action="/index4.php?page=contact&lang=" method="post" class="frmSubmit" id="regform2" data-alert="Bạn cần nhập đủ thông tin vào những trường màu đỏ" data-captcha ="Mã captcha không đúng" data-success="Thông tin liên hệ đã được gửi thành công !" data-redirect="/contact-success/" class="frmSubmit">
                        <input type="hidden"  name="code" value="save" />     

                        <div class="form_booking">
                            <div class="flex-container">
                                <div class="cell-1-1 tab-cell-1-1">
                                    <input name="yourname" type="text" class="txt-contact notNull" placeholder="Họ tên*">
                                </div> 
                                <div class="cell-1-1 tab-cell-1-1">
                                    <input name="phone" type="text"  class="txt-contact notNull"  placeholder="Điện thoại*">
                                </div>
                                <div class="cell-1-1 tab-cell-1-1">
                                    <input name="email" type="text"  class="txt-contact"  placeholder="Email">
                                </div>
                                <div class="cell-1-1 tab-cell-1-1">
                                    <input name="date" type="text"  class="txt-contact notNull"  placeholder="Ngày khám">
                                </div>
                                <div class="cell-1-1 tab-cell-1-1">
                                    <textarea name="other_request" placeholder="Ghi chú"></textarea>
                                </div>
                            </div>
                            <input name="input" type="button" onClick="$('#regform2').submit()"  class="btn-dangky" value="Đăng ký tư vấn" />
                        </div>
                        
                    </form>
                    </div>
                </div>
            </div>
            <div class="c30"></div>
            <div class="c20 hide-on-mobile"></div>
          </div>
    
    </div>
    <!-- end content -->


    <div class="c"></div>

    <!-- footer -->
    <footer class="footer">
      <div class="bg-footer"></div>
      <div class="footer-main">
        <div class="grid">

          <div class="flex-container">
        
            <div class="cell-1-1" style="border-bottom:1px solid #FFF">
              
                <div class="footer-block">
                  <a href="#">
                    <img src="/uploaded/logo/logo.png" alt="" style="max-width:200px">
                  </a>
                  <div class="c10"></div>
                  <div class="footer-title footer-title-mobile" rel="ct">
                    CÔNG TY TNHH THIẾT KẾ KIẾN TRÚC VÀ NỘI THẤT BLUEPSACE
                  </div>
                  
                  <div class="info">       
                    <i class="fas fa-map-marked-alt"></i> 
                    Địa chỉ: 169N – KDC Mega Village Khang Điền, P. Phú Hữu, Quận 9, TP. Thủ Đức, TP. Hồ Chí Minh.
                  </div>
                  <div class="info">
                    <i class="fas fa-phone-alt"></i> Hotline: 0938 837 867  - 1900 299 299
                 </div>
                 <div class="info">
                  <i class="far fa-envelope"></i>Email: bluespace.designvn@gmail.com

               </div>
               
                <div class="info">
               
                  <i class="fas fa-home"></i>  Xưởng sản xuất: Vòng xoay Phú Hữu, Quận 9, TP. Thủ Đức, TP. Hồ Chí Minh.
                  
                </div>
                  <div class="info">
                 
                    <i class="fas fa-fingerprint"></i>  MSDN: 0317173107
                    
                  </div>
                 
                  
                                          
                              
              </div>
                
                <div class="c20"></div>
               
                 
                
            </div>
            
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                 Sản phẩm 
                </div>
        
                <ul class="menuboxfooter" id="">
                  <li><a href="#">  Thảm lót sàn ô tô</a></li>
                  <li><a href="#">   Camera hành trình cho ô tô </a></li>
                  <li><a href="#">   Sản phẩm khác Phụ Kiện ô tô GoodYear</a></li>
                  <li><a href="#">  Thiết bị định vị</a></li> 
                 
                </ul>
              </div>
            
            </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                 Các chính sách
                </div>
        
                <ul class="menuboxfooter" id="">
                  <li><a href="#">  Thảm lót sàn ô tô</a></li>
                  <li><a href="#">   Camera hành trình cho ô tô </a></li>
                  <li><a href="#">   Sản phẩm khác Phụ Kiện ô tô GoodYear</a></li>
                  <li><a href="#">  Thiết bị định vị</a></li> 
                 
                </ul>
              </div>
              
            </div>

            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                 Các chính sách
                </div>
        
                <ul class="menuboxfooter" id="">
                  <li><a href="#">  Thảm lót sàn ô tô</a></li>
                  <li><a href="#">   Camera hành trình cho ô tô </a></li>
                  <li><a href="#">   Sản phẩm khác Phụ Kiện ô tô GoodYear</a></li>
                  <li><a href="#">  Thiết bị định vị</a></li> 
                 
                </ul>
              </div>
              
            </div>

          
            
        </div>
        </div>
      </div>

     <div class="footer-copyright">
      © Bản quyền thuộc về Best design
     </div>
    </footer>
    <!-- end footer -->
</div>


  <link rel="stylesheet" href="/css/jquery.fancybox.css" />
  <script src="/js/jquery.fancybox.js"></script>
  <link rel="stylesheet" href="/css/hover.css" />
  
</body>

</html>
